{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <div class="container-fluid container-confirmation" id="thanks">
        <h1>Thank You !</h1>
        <p>We sent you an email with all the informations about your booking.</p>
        <p>We hope to see you soon </p>
    </div>
    <div class="row justify-content-center confirmation-button">
        <a href="{{ path('home') }}">
            <button class="btn btn-primary" id="search">Go back !</button>
        </a>
    </div>
{% endblock %}