{% extends 'base.html.twig' %}

 {% block body %}
     <div class="container-fluid">
         <p><a href="{{ path('show_housing') }}"><img class="logo_croix" src="https://www.registrenationaldesrefus.fr/images/Assets/checkmark.png" alt=""></a></p>
         <img class="detailed_img" src="https://i.postimg.cc/c1TR6153/demo.jpg" alt="">
     </div>
 {% endblock %}