{% extends 'base.html.twig' %}

    {% block body %}
        <div class="container">
            <a href="{{ path('detailed_housing') }}"><img src="https://i.postimg.cc/c1TR6153/demo.jpg"></a>
            <img src="https://i.postimg.cc/DZTr4STr/demo2.jpg" alt="">
            <img src="https://i.postimg.cc/7ZjMDBtQ/demo3.jpg" alt="">
            <img src="https://i.postimg.cc/htXbkFsd/demo4.jpg" alt="">
            <img src="https://i.postimg.cc/rFF99Rtg/demo5.jpg" alt="">
            <img src="https://i.postimg.cc/Pqhs6Mb0/demo6.jpg" alt="">
            <div>
                <a href="#" class="btn">confirm</a>
                <a href="{{ path('index_housing') }}" class="btn">return</a>
            </div>
        </div>

    {% endblock %}