/*///////////////////////////////////////////////// MOBILE VERSION //////////////////////////////////////////////////*/

.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.bold{
    font-weight: bold;
}

@media only screen and (max-width: 415px) {

    /*///////// NAVBAR /////////*/
    .navbar {
        background-color: #87CEFA;
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;

    }

    .menu {
        width: 2em;
    }

    .logo {
        width: 4em;
    }

    .user {
        width: 2em;
    }

    /*///////// DOCTORS /////////*/
    .docTitle {
        font-size: 2em;
        text-align: center;
        margin-bottom: 1em;
        margin-top: 3em;
    }

    .card_ctn{
        margin-bottom: 5em;
    }

    .docPhoto {
        margin-right: auto;
        margin-left: auto;
    }

    .docName{
        font-size: 1.5em;
    }

    .card-text {
        text-align: center;
    }

    .availableTitle{
        font-size: 0.7em;
    }

    .available {
        padding-top: 0px;
        font-size: 1.5em;
    }

    .card-title {
        text-align: center;
    }

    /*///// INDEX //////*/

    .search-autocomplete {
        margin-top: 7em;
        margin-bottom: 4em;
    }

    #cardProfil {
       border: none;
    }

    /*//// RECAP /////*/

    .container-recap {
        text-align: center;
        margin-top: 6em;
        offset-position: 20px;
        background-color: #87cefa;
        width: 80%;
        border-radius: 3px;
        border: solid #183691 2px;
    }

    .recap-button {
        margin-top: 2em;
    }
}
